@using DemoAppDevelopment.ViewModels
@model BookViewModel

<h1> Create Book</h1>



<script src="https://kit.fontawesome.com/a775ea28da.js" crossorigin="anonymous"></script>

<style>
    .body-container {
        display: flex;
    }

    .side-bar {
        width: 20%;
        margin: 0 20px 0 10px;
    }

    .fa-chart-line {
        margin-right: 10px;
    }

    .fa-book {
        margin-right: 10px;
    }

    .fa-list {
        margin-right: 10px;
    }

    .fa-clipboard-user {
        margin-right: 10px;
    }

    .display-container {
        width: 80%;
    }

    .btn-wrapper {
        margin: 10px 0 10px 0;
    }

    #book-management {
        color: black;
        text-decoration: none;
    }

    #category-request {
        color: black;
        text-decoration: none;
    }
</style>

<div class="body-container">
    <div class="display-container">
        <form enctype="multipart/form-data" asp-controller="Book" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="@Model.book.Title" class="control-label"></label>
                <input asp-for="@Model.book.Title" class="form-control" placeholder="Name Of Book" />
                <span asp-validation-for="@Model.book.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.book.Price" class="control-label"></label>
                <input asp-for="@Model.book.Price" class="form-control" placeholder="Price Of Book" />
                <span asp-validation-for="@Model.book.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.book.Author" class="control-label"></label>
                <input asp-for="@Model.book.Author" class="form-control" placeholder="Author Of Book" />
                <span asp-validation-for="@Model.book.Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.book.Description" class="control-label"></label>
                <input asp-for="@Model.book.Description" class="form-control" placeholder="Description Of Book" />
                <span asp-validation-for="@Model.book.Description" class="text-danger"></span>
            </div>


            <div class="form-group">

                <label asp-for="@Model.book.Quantity" class="control-label"></label>
                <input asp-for="@Model.book.Quantity" class="form-control" placeholder="Quantity Of Book" />
                <span asp-validation-for="@Model.book.Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span asp-validation-for="@Model.book.Category" class="text-danger"></span>
                <label asp-for="@Model.book.Category" class="control-label"></label>
                <select asp-for="@Model.book.CategoryId"
                        asp-items="@(new SelectList(@Model.listCategory, nameof(Category.Id), nameof(Category.CategoryName)))">
                    <option>Please select one</option>
                </select>
            </div>

            <div class="form-group h5">
                <dl>
                    <dt>
                        <label asp-for="@Model.ProfileImage">Book Cover</label>
                    </dt>
                    <dd>
                        <input asp-for="@Model.ProfileImage" type="file">
                    </dd>
                </dl>
            </div>

            <div class="btn-wrapper">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>