@using DemoAppDevelopment.ViewModels

<h1> This is Customer Home Page</h1>

@model List<BookViewModel>

<form asp-controller="Customer" asp-action="SearchItem" method="post">
    <p>
        Search Item: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<a asp-action="Cart" asp-controller="Customer" class="btn btn-primary">Your Cart</a>
<a asp-action="ListOrder" asp-controller="Order" class="btn btn-primary">Your Orders</a>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top border-top border-right border-left" style="margin-top:10%; height:65vh; object-fit:cover;"
                         src="@item.ImageUrl"
                         alt="image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        @*<p class="card-text">@item.book.Description</p>*@
                        <p class="card-text">
                            <strong>Price: @item.Price </strong>
                        </p>
                        <a asp-route-id="@item.Id" asp-action="Detail" asp-controller="Book" class="btn btn-primary">Detail</a>
                        <a asp-route-id="@item.Id" asp-action="AddItemToCart" asp-controller="Order" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>